<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"  />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('Register') }}" class="navbar-brand">Register</a>
            <a href="{{ url_for('Login') }}" class="navbar-item">Login</a>
            <a href="{{ url_for('Payment') }}" class="navbar-item">Payment</a>
            <a href="{{ url_for('Rent') }}" class="navbar-item">Rent Bike</a>
            <a href="{{ url_for('Report_Defects') }}" class="navbar-item">Report Defects</a>
            <a href="{{ url_for('Check_Order') }}" class="navbar-item">Check Order</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; 2019</p>
            </footer>
        </div>
    </body>
</html>
